@font-face {
  font-family: Mont;
  src: url('./Mont-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Mont;
  src: url('./Mont-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: Mont;
  src: url('./Mont-Bold.ttf') format('truetype');
  font-weight: bold;
}
