body {
  font-family: Mont, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0;
}

h1 {
  font-weight: bold;
  font-size: 32px;
  line-height: 1.28125em;
  letter-spacing: -0.01em;
}

h2 {
  font-weight: bold;
  font-size: 22px;
  line-height: 1.409em;
  letter-spacing: 0;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3em;
  letter-spacing: 0;
}

button {
  font-family: Mont, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0;
}

small {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25em;
  letter-spacing: 0;
}
